# Virtual Environments
venv/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build
build/
dist/

# Logs
*.log
